extends layout.pug
block scr
    script(src="https://code.jquery.com/jquery-3.6.0.slim.js")
block content
    .container.p-3
        .row 
            .col-12 
                img(src="/images/lg1.png").rounded.mx-auto.d-block.img-fluid
        .row 
            .col-12
                .card.shadow-sm.rounded
                    .card-body
                        h5.text-center ค้นหาอาสาสมัคร
                        hr
                        form(method="get", action="./result") 
                            .mb-3 
                                label.form-label(for='provinces') จังหวัด
                                input#provinces.form-control.form-control-sm(name="province" list='datalistOptions' placeholder='กรุณาใส่ชื่อจังหวัด' required)
                                datalist#datalistOptions
                                    each p in provinces
                                        option(value=p )= p
                            .d-grid.gap-2 
                                button.btn-sm.btn.btn-block.c-orange.text-white(type='submit' disabled)#confirmBtn ค้นหาตามจังหวัด
                .card.shadow-sm.rounded.mt-1
                    .card-body
                        h5.text-center อาสาสมัครทั้งหมด
                        .d-grid.gap-2 
                            a.btn-sm.btn.btn-block.c-orange.text-white(href="./allvolunteers") อาสาสมัครทั้งหมด
block scripts
    script.
        $().ready(()=>{
            $("#provinces").change(()=>{
                let provinces = "#{provinces}".split(",");
                let inputProvince = $("#provinces").val();
                let founded = provinces.find(e=>e==inputProvince);
                if(founded){
                    $("#confirmBtn").prop('disabled',false);
                }else{
                     $("#confirmBtn").prop('disabled',true);
                }
            })
        })
