extends ../layout.pug
block css 
    link(rel="stylesheet", href="/css/jquery.sweet-modal.min.css")
block scr
    script(src="https://code.jquery.com/jquery-3.6.0.slim.js")
    //- script(src="/js/jquery.sweet-modal.min.js")
    script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.all.min.js") 
    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js") 